<div class="row" style="text-align: center; margin-top: 100px;">
  <div class="col">
    <h1 style="color: #ee7800; font-size: 50px;">BodyLog</h1>
  </div>
</div>

<div class="row" style="width: 50%; background-color: #fafafa; text-align: center; margin: 0 auto; padding: 30px 0;">
  <div class="col">
    <h2>ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.text_field :name, autofocus: true, placeholder: "名前", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>